{{ define "main" }}
<main class="main list h-feed">
	<header class="main-header">
		{{ with .Title }}
		<h1 class="main-title">{{ . }}</h1>
		{{ end }}
		{{ if not .Params.nometa }}
		{{ with partial "list_meta" . }}
		<div class="post-meta">{{ . }}</div>
		{{ end }}
		{{ end }}
	</header>
	{{- with .Content }}
	<div class="main-content">
		{{ . }}
	</div>
	{{- end }}
	{{- $photoSections := (.Site.Param "photoSections" | default (slice "posts")) }}
	{{- $paginator := .Paginate ( where ( where .Site.RegularPages "Type" "in" $photoSections ) "Params.images" "!=" nil ) 5 }}
	{{- range $paginator.Pages }}
		{{- .Render "photosummary" }}
	{{- end }}
	{{ if (.Param "authorbox") }}{{ partialCached "authorbox" . }}{{ end }}
</main>
{{ partial "pagination" . }}
{{ end }}