<article class="list-item h-entry photosummary">
    <div class="list-excerpt">
        {{ range .Params.images }}
        <p><figure><a href="#{{ . | md5 }}-lightbox"><img style="width: 100%;" src="{{ . | safeURL }}"></a></figure></p>
        <a href="#_" class="lightbox" id="{{ . | md5 }}-lightbox"><img src="{{ . | safeURL }}"></a>
        {{ end }}
    </div>
    <div class="list-footer">
        <a class="read-more u-url" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
    </div>
</article>