{{ define "main" }}
<main class="main h-entry">
	<article>
		<header class="main-header">
			{{ with .Title }}
			<h1 class="p-name post-title">{{ . }}</h1>
			{{ end }}
			{{ if not .Params.nometa }}
			{{ partial "post_meta" . }}
			{{ partial "post_actions" . }}
			{{ end }}
		</header>
		{{ partial "oldcontentwarning" . }}
		<div class="e-content content">
			{{ with .Params.audio }}
			<p><audio controls	preload="metadata" style="width: 100%;"><source src="{{ . }}"/></audio></p>
			{{ end }}
			{{ .Content }}
			{{ with .Params.externalUrl }}
			<p><a class="u-bookmark-of" href="{{ . }}" target="_blank" rel="noopener">{{ . }}</a></p>
			{{ end }}
		</div>
		{{ partial "post_tags" . }}
	</article>
	{{ if (.Param "authorbox") }}{{ partialCached "authorbox" . }}{{ end }}
</main>
{{ if (and (.Param "promo") .CurrentSection.Parent) }}{{ partialCached "promo" . }}{{ end }}
{{ range $i, $image := .Params.images }}
<a href="#_" class="lightbox" id="{{ $image | md5 }}-lightbox">
	<img src="{{ $image | safeURL }}">
</a>
{{ end }}
{{ partial "webmentionform" . }}
{{ partial "mentions.html" . }}
{{ partial "post_nav.html" . }}
{{ end }}