{{ $showFull := and (or .Params.showFull (not .Truncated)) (not .Params.images) }}
<article class="list-item h-entry">
	<div class="list-header">
		{{ if .Title }}
		{{ if (and $showFull .Params.externalURL) }}
		<a class="u-bookmark-of" href="{{ .Params.externalURL }}" target="_blank" rel="noopener">
			<h2 class="list-title p-name">{{ .Title }}</h2>
		</a>
		{{ else }}
		<a class="u-url" href="{{ .RelPermalink }}">
			<h2 class="list-title p-name">{{ .Title }}</h2>
		</a>
		{{ end }}
		{{ end }}
		{{ if not .Params.nometa }}
		{{ with partialCached "summary_meta" . .RelPermalink }}
		<div class="list-meta">{{ . }}</div>
		{{ end }}
		{{ end }}
	</div>
	{{ if $showFull }}
	<div class="list-excerpt e-content">
		{{ .Content }}
	</div>
	<div class="list-footer">
		<a class="read-more u-url" href="{{ .RelPermalink }}">{{ T "permalink" }}</a>
	</div>
	{{ else }}
	<div class="list-excerpt p-summary">
		{{ .Summary }}
	</div>
	<div class="list-footer">
		<a class="read-more u-url" href="{{ .RelPermalink }}">{{ T "read_more" }}</a>
	</div>
	{{ end }}
</article>