{{ define "main" }}
<main class="main list">
	<header class="main-header">
		{{ with .Title }}
		<h1 class="main-title">{{ . }}</h1>
		{{ end }}
		{{ if not .Params.nometa }}
		{{ with partial "list_meta" . }}
		<div class="post-meta">{{ . }}</div>
		{{ end }}
		{{ end }}
	</header>
	<div class="tags">
		<ul class="tags-list">
			{{ range (.Paginate ( .Pages.ByTitle ) 100).Pages }}
			<li class="tags-item"><a class="p-category" href="{{ .RelPermalink }}">{{ .Title }}</a><sup>{{ len .Pages }}</sup></li>
			{{ end }}
		</ul>
	</div>
</main>
{{ partial "pagination" . }}
{{ end }}