{{ with .Site.Author }}
<div class="authorbox p-author h-card">
	{{ if .avatar }}
	<figure class="author-avatar">
		<img class="u-photo" alt="{{ .name }}" src="{{ .avatar | relURL }}">
	</figure>
	{{ end }}
	{{ if .name }}
	<div class="author-header">
		<span class="author-name">{{ T "authorbox_name" }} {{ if .link }}<a href="{{ .link }}" class="p-name u-url" rel="me">{{ .name }}</a>{{ else }}<span class="p-name">{{ .name }}</span>{{ end }}</span>
	</div>
	{{ end }}
	{{ with .bio }}
	<div class="p-note">
		{{ . }}
	</div>
	{{ end }}
</div>
{{ end }}