<footer class="footer">
	<div class="container">
		{{ with .Site.Menus.footer -}}
		<div class="links">
			{{ range $key, $value := . }}
			<a href="{{ $value.URL }}">{{ $value.Name }}</a>
			{{- end }}
		</div>
		{{- end }}
		<div class="copyright">
			&copy; {{ now.Format "2006" }} {{  .Site.Params.copyright | default .Site.Title  }}
		</div>
	</div>
</footer>