<header class="header container">
	<div class="logo">
		<a class="link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
			<div class="title">{{ .Site.Title }}</div>
			{{ with .Site.Params.subtitle }}<div class="tagline">{{ . }}</div>{{ end }}
		</a>
	</div>
	{{ partialCached "menu.html" . }}
</header>