{{- if .Site.Menus.main }}
<nav class="menu">
	<label for="menu-toggle" class="expand">
		<span class="title">{{ T "menu_label" }}</span>
	</label>
	<input type="checkbox" id="menu-toggle"/>
	<ul id="menu-list">
		{{- $currentNode := . }}
		{{- range sort .Site.Menus.main }}
		{{- if .Name}}
		<li class="item">
			<a class="link" href="{{ .URL }}">{{ .Name }}</a>
		</li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{- else -}}
<div class="divider"></div>
{{- end }}