{{ if .Param "oldcontentwarning" }}
{{ if .Date }}
{{ if (.Date.AddDate 1 0 0).Before now }}
<p class="oldcontent"><i><b>{{ ":warning:" | emojify }} {{ T "oldcontent" }}</i></b></p>
{{ end }}
{{ end }}
{{ end }}