{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
	{{- with .Paginator.Prev }}
	<a class="pagination-item" href="{{ .URL }}">{{ .PageNumber }}</a>
	{{- end }}
	<span class="pagination-item current">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
	{{- with .Paginator.Next }}
	<a class="pagination-item" href="{{ .URL }}">{{ .PageNumber }}</a>
	{{- end }}
</div>
{{ end }}