{{ if or (.GetTerms "tags") (.GetTerms "series") }}
<div class="tags">
	{{ with (.GetTerms "series") }}
	<ul class="tags-list">
		{{ range sort . "Pages" "desc" }}
		<li class="tags-item"><a class="p-category" href="{{ .RelPermalink }}" rel="tag">{{ .Title }}</a><sup>{{ len .Pages }}</sup></li>
		{{ end }}
	</ul>
	{{ end }}
	{{ with (.GetTerms "tags") }}
	<ul class="tags-list">
		{{ range sort . "Pages" "desc" }}
		<li class="tags-item"><a class="p-category" href="{{ .RelPermalink }}" rel="tag">{{ .Title }}</a><sup>{{ len .Pages }}</sup></li>
		{{ end }}
	</ul>
	{{ end }}
</div>
{{ end }}