{{ if .Param "post_navigation" }}
{{ if or (.PrevInSection) (.NextInSection) }}
<nav class="post-nav">
	{{ with .PrevInSection }}
	<div class="item item--prev">
		<a class="link" href="{{.RelPermalink}}" rel="prev"><span class="caption">{{ T "post_nav_prev" }}</span><p class="post-title">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 60 }}{{ end }}</p></a>
	</div>
	{{ end }}
	{{ with .NextInSection }}
	<div class="item item--next">
		<a class="link" href="{{.RelPermalink}}" rel="next"><span class="caption">{{ T "post_nav_next" }}</span><p class="post-title">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 60 }}{{ end }}</p></a>
	</div>
	{{ end }}
</nav>
{{ end }}
{{ partial "related.html" . }}
{{ end }}