{{ if or (.Param "shareLink") (.Param "speak") }}
<div class="actions">
	{{ if (.Param "shareLink") }}
	<div class="action-item"><a class="action-link" href="https://www.addtoany.com/share#url={{ .Permalink }}{{ with .Title }}&title={{ . }}{{ end }}" target="_blank" rel="nofollow noopener noreferrer">{{ T "share" }}</a></div>
	{{ end }}
	{{ if (.Param "speak") }}
	<div class="action-item"><div id="speakBtn" class="action-link" style="display: none;"></div></div>
	{{ $speakScript := resources.Get "js/speak.js" | minify | fingerprint }}
	<script>const speakText = "{{ T "speak" }}";const stopSpeakText = "{{ T "stopspeak" }}";</script>
	<script defer src="{{ $speakScript.RelPermalink }}" integrity="{{ $speakScript.Data.Integrity }}"></script>
	{{ end }}
</div>
{{ end }}