{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="related">
	<details>
		<summary class="related-caption">{{ T "related" }}</summary>
		<ul class="related-list">
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">{{ with .Title }}{{ . }}{{ else }}{{ .Summary | truncate 60 }}{{ end }}</a> <i>{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</i></li>
			{{ end }}
		</ul>
	</details>
</div>
{{ end }}