{{ if not .Date.IsZero }}
<div class="item">
	<span><time class="dt-published" datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}" title="{{.Date.Format "2006-01-02T15:04:05Z07:00"}}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>{{ if not (eq .FirstSection.RelPermalink .RelPermalink) }} in <a href="{{ .FirstSection.RelPermalink }}">{{ .FirstSection.Title }}</a>{{ end }}</span>
</div>
{{ else }}
{{ if not (eq .FirstSection.RelPermalink .RelPermalink) }}
<div class="item">
	<a href="{{ .FirstSection.RelPermalink }}">{{ .FirstSection.Title }}</a>
</div>
{{ end }}
{{ end }}
{{ if ne .Date .Lastmod }}
<div class="item">
	<time class="dt-updated" datetime="{{.Lastmod.Format "2006-01-02T15:04:05Z07:00"}}" title="{{.Lastmod.Format "2006-01-02T15:04:05Z07:00"}}">{{ T "meta_lastmod" }}: {{.Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time>
</div>
{{ end }}
{{ with .Param "indieweb.reply" }}
{{ if .link }}
<div class="item">
	{{ T "meta_reply_to" }}: <a class="u-in-reply-to" href="{{ .link }}" target="_blank" rel="noopener">{{ .title | default .link }}</a>
</div>
{{ end }}
{{ end }}
{{ with .Param "indieweb.like" }}
{{ if .link }}
<div class="item">
	{{ T "meta_like_of" }}: <a class="u-like-of" href="{{ .link }}" target="_blank" rel="noopener">{{ .title | default .link }}</a>
</div>
{{ end }}
{{ end }}
{{ if .IsTranslated }}
<div class="item">
	{{ i18n "translations" }}: {{ $delimiter := "" }}{{ range .Translations }}{{ $delimiter }}<a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>{{ $delimiter = ", " }}{{ end }}
</div>
{{ end }}