{{- if .Param "indieweb.enabled" }}
{{- if not (.Param "indieweb.hidewmform") }}
{{- if .Param "indieweb.endpoints.webmention" }}
<div class="wm-form">
<form id="wm-form" method="post" action="{{ .Param "indieweb.endpoints.webmention" }}">
    <input type="url" name="source" id="wm-source" placeholder="{{ T "wmform_label" }}">
    <input type="hidden" name="target" value="{{ .Permalink }}">
    <input class="action" type="submit" value="{{ T "wmform_btn" }}">
</form>
<p id="anon-comment"><a href="https://quill.p3k.io/?dontask=1&me=https://commentpara.de&reply={{ .Permalink }}">{{ T "anon_comment" }}</a></p>
</div>
{{- end }}
{{- end }}
{{- end }}