{{ define "main" }}
<main class="main list h-feed">
	{{- with .Content }}
	<div class="main-content">
		{{ . }}
	</div>
	{{- end }}
	{{- $postSections := ($.Param "postSections" | default (slice "posts")) }}
	{{- $paginator := .Paginate ( where .Site.RegularPages "Type" "in" $postSections ) }}
	{{- range $paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
	{{ if (.Param "authorbox") }}{{ partialCached "authorbox" . }}{{ end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}